
.header {
    display: flex;
    justify-content: space-between;

    &__logo {

        h3 {
            margin: 0;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            color: #2181FF;
            border: 1px solid #ddd;
    transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;

        }
    }
}

.slider__admin--collapsed {
    width: 80px;
}

.layout__admin{
    &--content{
        padding: 20px 50px;
    }
}

